/* bg-colors */

.bg-dark-blue {
    background-color: #0A0A5C;
}

.bg-sky-blue {
    background-color: #72ddf0;
}

/* elements */

.body {
    min-height: 100vh;
}

.logo {
    width: 80px;
}


.table-desktop {
    width: 1116px;
}